@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karma:wght@300;400;500;600;700&family=Mozilla+Headline:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Expanded+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* overall */

section{
    min-height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}

/* --- font-family-- */
.inter{
    font-family: "Inter", sans-serif;
}

.pop{
     font-family: "Poppins", sans-serif;
}

/* --------------------------------------------------------------------------- */

/* ---- nav_bar------- */
nav{

    min-height:100px;
    width:100%;
    background-image:linear-gradient(to top,#103351,#2473B7);
    position: fixed;
    top:0;
    color:white;
    padding:20px;
     display: flex;
    align-items: center;
    justify-content: space-between;
       z-index: 10000;
}

.nav_head{
    min-height:100%;
    width:20%;
    display: flex;
    align-items: center;
    gap:10px

}
.nav_head>img{
    height:70px;
    width:70px;
}

.nav_add{
    min-height:100%;
    width:20%;
     display: flex;
    align-items: center;
    gap:10px


}

.nav_add>i{
    font-size:30px
}
.nav_add>div{
    display: flex;
    flex-direction: column;
    gap:5px

}

.nav_menu{
     min-height:100%;
    width:45%;
     display: flex;
     justify-content: space-between;
     text-align: center;
     align-items: center;
}

.nav_menu>a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    position: relative;
    transition: all 1s;
    padding:10px
    
}



.nav_menu>a::before{
    content: "";
    height:4px;
    position: absolute;
    bottom:0;
    width:0%;
     transition: all 1s;
    background-color: #D82323EB;
}

.nav_menu>a:hover::before{
    width: 80%;
}

nav label,nav input{
    display: none;
}

input:checked~div{
    right:0
}

nav>i{
    font-size:30px
}

/* --------------------  payment page------------------- */

#payment{
    margin-top: 120px;
    width:85%;
    min-height:50px;
    
    display: flex;
    flex-direction: column;
    padding:40px 0px;
    gap:30px

}

.overall{
    min-height:100px;
    width:30%;
    background-color: #D9D9D96B;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding:20px;
    gap:30px;

}

.online,.cash{
    min-height:20px;

}

.online{
 
    display: flex;
    flex-direction: column;
    gap:30px
}

.show{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.show>div:first-child{
    display: flex;
    align-items: center;
    gap:30px
}

.amount{
    
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
     gap:50px;



}
.online img{
    display: none;
    height:50px;
    width:70px;
    padding:10px;
   
   
}

.online img:nth-child(even){
    height:50px;
    object-fit: cover;
    width:150px;
    
}
.online img:hover{
    border:2px  solid #2473B7
}
.online i{
    font-size: 20px;
    transform: rotate(270deg);
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes down {
    0%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(90deg);
    }
}


@keyframes round1{
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(270deg);
    }
}


button{
    padding:10px;
    width:25%;
    font-size: 23px;
    color:white;
    border-radius: 10px;
    border:none;
    background-color: #AEB724EB;
    transition: all 2s;
    box-shadow: 2px 2px 2px black;
}

button:active{
    transform: scale(0.8);
}

form{
    min-height: 10px;
    width:35%;
    display:flex;
    flex-direction: column;
    padding:20px;
    background-color:#AEB724EB ;
    position: absolute;
    gap:15px;
    top:-120%;
    border-radius: 15px;
    align-items: center;
}

form>h1{
    width:100%
}
form div{
    display:flex;
    flex-direction: column;
    font-size: 20px;
    gap:10px;
    width:100%
    
}

form div>input{
    padding:10px;
    width:100%;
    border-radius: 5px;
   outline: none;

    border: none;
}

form div>input:focus{
     outline:2px solid #103351;
}

form>input{
    width: 50%;
    padding:10px;
    border-radius: 10px;
    border: none;
    color:white;
    font-size: 20px;
    background-color: #2473B7;
    transition: all 1s;

}

form>input:active{
    transform: scale(0.8);
}

#continueBtn:disabled{
  opacity:0.5;
  cursor:not-allowed;
}

.selected_img{
    border:2px  solid #2473B7
}